<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prośba o zresetowanie hasła</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333;">
<div style="max-width: 600px; margin: 0 auto; padding: 20px;">
    <h1 style="color: #4a4a4a;">Prośba o zresetowanie hasła</h1>
    <p>Cześć,</p>
    <p>otrzymaliśmy prośbę o zresetowanie hasła do konta powiązanego z tym adresem email.</p>
    <p>Aby zresetować hasło, kliknij poniższy przycisk:</p>
    <p>
        <a th:href="@{${resetUrl}}" style="background-color: #4CAF50; color: white; padding: 10px 15px; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px;">Zresetuj hasło</a>
    </p>
    <p>Ten link wygaśnie za godzinę, o <span th:text="${#temporals.format(expirationTime, 'HH:mm')} + ' dnia ' + ${#temporals.format(expirationTime, 'dd MMMM yyyy')}"/>.</p>
    <p>Jeśli nie prosiłeś o zresetowanie hasła, zignoruj tę wiadomość lub skontaktuj się z naszym zespołem wsparcia, jeśli masz jakiekolwiek obawy.</p>
    <p>Pozdrawiamy,<br>Zespół Startuplew</p>
</div>
</body>
</html>
